.input {
    width:23vw;
    height:7vh;
    background: #323645;
    margin-bottom:2vh;
    display:flex;
    flex-direction:row;
    position:relative;
    border-radius:1vw;
    overflow:hidden;
    transition:background-color 0.3s ease-in-out;
}
.inputIcon {
    height:4.75vh;
    margin-top:1.75vh;
    width: 6vh;
    margin-right:1vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 70%;
    opacity: 0.6;
}
.inputInput,
.inputPlaceholder {
    font-family:"Open Sans",sans-serif;
    color:rgb(242, 242, 242);
}
.inputInput {
    height:4.75vh;
    margin-top:1.75vh;
    width:Calc(100% - 6vh);
    background:transparent;
    padding:0;
    border:0;
    outline:0;
    font-size:0.8em;
    text-indent:1.2vw;
    color:rgb(238, 241, 254);
}
.inputPlaceholder {
    position:absolute;
    pointer-events:none;
    font-size:0.9em;
    left:1.2vw;
    top:2.2vh;
    opacity:0.7;
    transition:all 0.3s ease-in-out;
}
.selected {
    top: 0.9vh;
    left: 1.2vw;
    font-size: 0.7em;
    opacity: 0.9;
    color:rgb(131, 133, 217);
    font-weight: 600;
}


@media (max-width: 980px) {
    .input {
        width:80vw;
    }
}
